ion-title{
  font-size: 24px;
  margin-left: 25px;
  margin-top: 32px;
  color: white;
  a {
    text-decoration: none;
    @media (min-width:0) {
      font-size: 0.8rem;
    }
    @media (min-width:720px) {
      font-size: 1.2rem;
    }
    @media (min-width:1024px) {
      font-size: 1.6rem;
    }
    @media (min-width:1500px) {
      font-size: 2rem;
    }
    ion-text {
      color: #f9684e;

    }
  }
}
